@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    #chkToggle:checked+ul.main-nav {
        display: flex;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
    .navbar-toggle {
        display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

@media screen and (max-width: 768px) {
    .rafting {
        flex-direction: column;
    }
    .intro {
        /* it place the items in vertical direction */
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .flex-columns .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
}